* {  
      margin: 0;
      padding: 0;
}
.background-image {
    background-image: url('/assets/img/mythical-dragon-beast-anime-style.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    height: 100vh;
} 

.navbar-toggle {
      border: none;
      font-size: 1.25em;
}

.navbar-toggle:focus, .btn-close:focus {
      box-shadow: none;
      outline: none;
}

.nav-link {
      color: #666777;
      font-weight: 500;
      position: relative;
}

.nav-link:hover, .nav-link.active {
      color: #000;
}

@media (min-width: 991px) {
      .nav-link::before {  
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 2px;
            background-color: #87cefa;
            visibility: hidden;
            transition: 1.2s ease-in-out;
      }

      .nav-link:hover::before, .nav-link.active::before { 
            width: 100%;
            visibility: visible;
      }


      
}    

.navbar {
      background-color: #fff;
      height: 80px;
      margin: 20px;
      border-radius: 16px;
      padding: 0.5rem;
}
      
.navbar-brand {
      font-family: 'Madrid', sans-serif;
      font-weight: 500;
      color: #87cefa;
      font-size: 24px;
      transition: 1.2s color;  
}


@font-face {
    font-family: 'Poppins-Regular';
    src: url('assets/js/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Madrid';
    src: url('assets/js/Madrid 23a.otf') format('opentype');
}


.button {
      font-family: 'Poppins-Regular', sans-serif;
      height: 100vh;
      display: flex;
      align-items: centre;
      justify-content: center;
      position: relative;
      padding: 10px 22px;
      background: #64B2F0;
      border-radius: 6px;
      color: #fff;
      
      

      
      






















      
      


      
