* {
        margin: 0;
        padding: 0;
}
.background-image {
    background-image: url('./assets/img/mythical-dragon-beast-anime-style.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}  
